body {
    line-height: 1.0;
}

.displayroutesinfo {
    left: 9.7px;
}

    .displayroutesinfo > table {
        background-color: #F4F4F4;
    }

        .displayroutesinfo > table > tbody > tr > td {
            border-bottom: 1px solid #C0C0C0;
        }

        .displayroutesinfo > table > tbody > tr:last-child > td {
            border-bottom: 0px;
        }

        .displayroutesinfo > table > tbody > tr > td:first-child {
            vertical-align: middle;
            width: 5%;
        }

.routecompany-routename {
    text-align: center;
}

.company-name-label {
    font-weight: bolder;
    color: #B8B8B8;
}

.deproutetime, .arrroutetime {
    width: 20%;
    font-weight: bolder;
}

.timedifference {
    font-weight: normal;
}

.leftbordered {
    width: 40%;
    display: inline-block;
    margin-right: 5px;
    border-bottom: 2px solid #B9B9B9;
}

.rightbordered {
    width: 40%;
    display: inline-block;
    margin-left: 5px;
    border-bottom: 2px solid #B9B9B9;
}

.leftbordered.active {
    border-bottom: 2px solid #1E7FB1;
}

.rightbordered.active {
    border-bottom: 2px solid #1E7FB1;
}

.routeimage {
    width:60%;
    display: inline-block;
}

    .routeimage > img {
        opacity: 0.4;
        filter: alpha(opacity=40);
    }

    .routeimage > .active {
        opacity: 1;
        filter: alpha(opacity=100);
    }

.routeprice {
    text-align: center;
    font-size: large;
    font-weight: bolder;
    width: 20%;
    border-radius: 10px;
    padding: 10px;
}

.routepriceConventional {
    color: #fbbc05;
    background-color: #003580;
}

.routepriceAirplane, .routepriceDolphin-Catamaran, .routepriceHighSpeed {
    color: red;
    background-color: #D0D0D0;
}

.moneycoin {
    font-weight: normal;
}

th {
    color: #1E7FB1;
    text-align: center;
}

tr {
    cursor: default;
}

.popover-title {
    color: #fff;
    background-color: #000;
    font-size: medium;
}

.popover-content {
    color: #fff;
    background-color: #6594C1;
}

.dateslider {
    background-color: #F4F4F4;
    border-top: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
    left: 20px;
    padding: 6.7px;
}

.day {
    text-align: center;
    color: #2091EB;
    width: 11.6%;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 17px;
    padding: 2px;
}

.dayborder {
    border-right: 2px solid #B9B9B9;
    margin-right: 3px;
    margin-left: 3px;
    height: 73%;
    text-align: center;
}

    .day:hover {
        background-color: #DCDCDC;
}

.reserved {
    background-color: orange;
    color: #fff;
}

    .reserved:hover {
        background-color: orange;
    }

.prevarrow {
    margin-right: 5px;
}

.nextarrow {
    margin-left: 5px;
}

.btn-floating {
    background-color: #fff;
}

    .btn-floating:hover {
        background-color: #DCDCDC;
}