body {
    line-height: 1.0;
}

th {
    color: #1E7FB1;
    text-align: center;
}

td {
    text-align: center;
}

tr {
    cursor: default;
}

.popover-title {
    color: white;
    background-color: #1E7FB1;
    font-size: medium;
}

.popover-content {
    color: #000;
}

.slideclass {
    border-width: 2px;
    padding: 0px 10px 10px 0px;
    text-align: center;
}

.slideclass-reservday {
    border-width: 2px;
    /*border-left-style: ridge;
    border-color: lightblue;*/
    background-color: orange;
     padding: 0px 10px 10px 0px;
     text-align: center;
}

.slideclass:hover {
    background-color: lightblue;
}

.slideclass {
    border-width: 2px;
    padding: 0px 10px 10px 0px;
    text-align: center;
}

.slideclass-reservday {
    border-width: 2px;
    /*border-left-style: ridge;
    border-color: lightblue;*/
    background-color: orange;
     padding: 0px 10px 10px 0px;
     text-align: center;
}

.slideclass:hover {
    background-color: lightblue;
}

/*.ns_nerveSlider.light .ns_nextButton div {
    background: grey url(~/Content/NerveSlider/icons/next-light.png) 50% 50% no-repeat;
}*/

/*.ns_nerveSlider.light .ns_prevButton div {
    background: grey url(~/Content/NerveSlider/icons/prev-light.png) 50% 50% no-repeat;
}*/