body {
        line-height: 1.0;
    }

     fieldset {
         overflow: hidden;
     }

    .routeoptions {
        /*float: left;*/
        clear: both;
        display: inline;
        width: 100%;
    }

    label {
        float: left;
        clear: none;
        display: block;
        padding: 2px 1em 0 0;
    }

    input[id*=departure],input[id*=arrive]
    {
        margin-bottom:5px;
    }

    input[type=radio],
    input.radio {
        float: left;
        clear: none;
        margin: 2px 0 0 2px;
    }

    .portname:hover
    {
        background-color:dodgerblue;
        cursor:pointer;
    }

    form, .form-horizontal {
        background-color: #f4f9fd;
        border: 1px solid #c6dff9;
        /*display: none;*/
        float: left;
        font-size: 11px;
        min-height: 243px;
        padding-bottom: 3px;
        padding-left: 20px;
        padding-top: 30px;
        width: 700px;
    }

    .form-control {
        /*background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;*/
        font-size: 12px;
        height: 25px;
        line-height: 1.0;
        padding: 2px 6px;
        transition: border-color 0.3s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        /*vertical-align: middle;
    width: 100%;*/
    }

    .popover-markup > .popover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1010;
        display: none;
        max-width: 600px;
        width: 300px;
        padding: 1px;
        text-align: left;
        white-space: normal;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }

    .bottom-border-class {
        border-bottom-width: 1px;
        border-style: solid;
        border-bottom-color: #d6eafa;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
        
    div[id*=passenger] > input, div[id*=vehicle] > input {
        width: 10%;
        height: 32px;
        font-size: 14px;
    }

    .increment
    {
        margin-right:5px;
    }

    /*.field-validation-error{ width:90%;font-size:8pt;display:block; position:relative; top:-40px;height:0px;}
.field-validation-error span {border-radius:4px; padding:5px 5px 5px 5px;background-color:#FFE6BF;position:relative;border:1px solid red;}
.field-validation-error span:after { content: ' ';height: 0;position: absolute; width: 0;border: 10px solid transparent;border-top-color: #FFE6BF;top:100%;left: 10px;}
.field-validation-error span:before {content: ' ';height: 0;position: absolute; width: 0;border: 13px solid transparent;border-top-color: red;top: 100%;left: 7px;}*/